:root {
  --actual-max-height: 2000px;
}

.Load {
  width: 100px;
  height: 100px;
  // background-color: red;
  border-radius: 50%;
  border-bottom: 5px solid #ff6060;
  animation: rotate 300ms forwards;
}

.Collapse {
  display: flex;
  animation: loadErease 300ms forwards;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1024px;
  background-color: #f6f6f6;
  &__Menu {
    display: flex;
    background-color: #ff6060;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px 10px 10px;
    border-radius: 10px;
    max-width: 1024px;
    &__Title {
      color: #fff;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 142.6%; /* 25.668px */
      user-select: none;
    }
  }
  &__Content {
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    background-color: #f6f6f6;
    align-self: flex-start;
    color: #ff6060;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 142.6%; /* 25.668px */
    overflow: hidden;
    max-height: 0;

    ul {
      padding: 20px;
    }

    &.open {
      animation: openAnimation 4s forwards;
    }
    &.close {
      animation: closeAnimation 1s forwards;
    }
    // &.close-no-animation {
    //   animation: closeAnimation 0s forwards;
    // }
    .no-animation {
      transition: none !important;
      animation: closeAnimation 0 forwards !important;
    }
  }
}

@keyframes openAnimation {
  // $ActualMaxHeight: 2000px;
  0% {
    // max-height: 0;
  }
  100% {
    overflow: visible;
    max-height: 2000px;
    visibility: visible;
  }
}
@keyframes closeAnimation {
  0% {
    // max-height: $ActualMaxHeight;
    max-height: var(--actual-max-height);
  }

  100% {
    max-height: 0;
    visibility: hidden;
  }
}
@keyframes loadErease {
  0% {
    display: none;
  }
  99% {
    display: none;
  }
  100% {
    display: flex;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1440deg);
    display: none;
  }
}
